# Database
DATABASE_URL=
DATABASE_URL_SYNC=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# Redis (for Celery)
REDIS_URL=

# App
SECRET_KEY=changeme
DEBUG=true

# YOLO
YOLO_MODEL_PATH=yolov8n.pt
CONFIDENCE_THRESHOLD=0.4